@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
  font-family: 'Raleway', sans-serif;
}

/* Container */
.container {
  align: center;
}

/* Header Section */
.header {
  background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") no-repeat center center;
  background-size: cover; /* Ensures the image covers the container */
  color: #f8d296;
  width: 100vw; /* Ensures the header takes up the full width of the screen */
  height: 600px; /* Sets the height to 500px */
  background-position: center center; /* Centers the image */
}


.header-titles {
  color: lightgrey;
  font-family: "josefin sans", serif;
  margin-right: 150px;
  position: relative;
  text-align: right;
  top: 200px;
}

.header-title {
  font-size: 84px;
}

/* Foundation Info Section */
.foundation-info {
  background: white;
  color: darkgreen;
  padding: 25px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info-p {
  font-size: 20px;
  padding: 5px;
}

hr {
  background: #dacfb6;
  height: 2px;
  width: 50%;
}
