@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  background: url("https://i.imgur.com/4DKMr6Z.png") no-repeat right center;
  background-size: 45%;
  background-position: calc(100% - 70px) center;
  background-color: rgb(168, 192, 149);
  padding-top: 20px;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Libre Baskerville", sans-serif;
  position: relative;
}

.header-titles {
  text-align: left; /* Align text to the left */
  color: white;
  position: absolute;
  left: 70px; /* Adjust as needed */
}

.header-title {
  font-size: 4rem; /* 60px */
  text-transform: uppercase;
  font-weight: 700;
}

.header-subtitle {
  font-size: 4rem; /* 50px */
  padding-top: 15px;
  font-weight: 400;
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down-img {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

.foundation-info {
  background: white;
  color: rgb(75, 86, 122);
  padding: 25px;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

.info-box {
  flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
  background: white;
  border-radius: 10px;
  height: 550px;
  box-shadow: 0px 0px 10px rgba(3, 53, 3, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-box img {
  filter: grayscale(0%);
  height: 80px;
}

.book-img {
  background-image: url('https://static-00.iconduck.com/assets.00/open-book-emoji-1024x769-oyfx263r.png');
  margin-top: 30px;
}

.handshake-img {
  background-image: url('https://www.shutterstock.com/shutterstock/videos/1006810768/thumb/7.jpg?ip=x480');
  width: 120px;
  margin-top: 20px;
}

.team-img {
  background-image: url('https://i.pinimg.com/originals/51/b8/28/51b828dea556424bcd9fcf7838e44976.png');
  margin-top: 20px;
}

.info-p {
  color: rgb(80, 88, 103);
  font-size: 16px;
  margin: 30px;
  line-height: 1.5;
}

.info-title {
  color: rgb(25, 32, 46);
  font-size: 22px;
  margin-top: 30px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 2.5rem; /* 40px */
  }

  .header-subtitle {
    font-size: 2rem; /* 32px */
  }

  .info-box {
    height: auto;
    margin: 10px;
  }
}
@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 192, 149);
    background-image: url("https://i.imgur.com/4DKMr6Z.png");
    background-size: 100%;
    background-position: center center;
    height: 100vh;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(147, 157, 126, 0.385);
    z-index: 1;
  }

  .header-titles {
    text-align: center;
    position: center;
    z-index: 2;
    margin-bottom: 20px;
    left: 12%;
  }

  .header-title {
    font-size: 1.95rem;
    margin: 0;
  }

  .header-subtitle {
    font-size: 2rem;
    font-weight: 550;
    margin: 0;
  }

  .down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    }
  
  .scroll-down-img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
    animation: bounce 2s infinite;
  }

  .info-p {
    color: rgb(80, 88, 103);
    font-size: 16px;
    margin: 18px;
    line-height: 1.5;
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
  }

  .info-box {
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    background: white;
    border-radius: 10px;
    height: 550px;
    box-shadow: 0px 0px 10px rgba(3, 53, 3, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
}
