@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* General styles */
.blurb-container {
    position: relative;
    color: rgb(211, 209, 209);
    padding: 40px 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background: black;
}

.blurb-container h2 {
    font-size: 30px;
    line-height: 1.6;
    max-width: 1000px;
    z-index: 1;
    font-family: 'EB Garamond', serif; /* Apply the font family */
}

/* Slideshow styles */
.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
}

.slideshow img {
    width: 100vw; /* Make the container take up 100% of the viewport width */
    height: 680px; /* Make the container take up 100% of the viewport height */
    object-fit: cover;
    position: relative;
    animation: swipe 30s linear infinite;
    opacity: 0.4;
}

/* Continuous gallery-like rotation effect */
@keyframes swipe {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

/* Text should be in front of images */
.blurb-container h2,
.blurb-container p {
    position: relative;
    z-index: 2;
}

/* Other styles */
/* Add other styles here */

.class__body {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    height: 100vh;
    color: #1b4b07;
    align-items: center;
}

.classes-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .class-box {
    border: 1px solid #ccc;
    width: 20%;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px;
    border-radius: 5px;
    background: white;
    height: 170px;
    align-items: center;
    justify-content: center;
    text-align: center !important; /* Center align the text */
}



.search-sort-container {
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 200px;
  }


.search__input {
    margin-top: 10px;
    margin-right: 15px;
    width: 50%;
    align-items: center;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color:1f3a14;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #1f3a14;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    align-items: center;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #1f3a14;
    border-radius: 0;
    background-position: 100% center;
}

.sort__select {
    margin-top: 10px;
    padding: 12px 24px;
    width: 100%;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    color: rgba(87, 87, 86, 0.8);
    border-radius: 50px;
    border: 1px solid #1f3a14;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.sort__select::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}