@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
  font-family: 'Raleway', sans-serif;
}

/* Container */
.container {
  align: center;
}

/* Header Section */
.header {
  background: url("https://t4.ftcdn.net/jpg/06/02/62/01/360_F_602620133_IlfBBypq6WMdE9eNh0k5iqpgcGyqUPMc.jpg");
  color: #f8d296;
  height: 800px;
  max-height: 100%;
  max-width: 100%;
}

.header-titles {
  color: rgb(240, 214, 143);
  font-family: "josefin sans", serif;
  margin-right: 150px;
  position: relative;
  text-align: right;
  top: 200px;
}

.header-title {
  font-size: 84px;
}

/* Foundation Info Section */
.foundation-info {
  background: #dacfb6;
  color: rgb(156, 71, 10);
  padding: 25px;
  text-align: center;
}

.info-p {
  font-size: 20px;
  padding: 5px;
}

hr {
  background: #dacfb6;
  height: 2px;
  width: 50%;
}
