.our-team__body {
  width: 100%;
  margin: 0 auto;
  background-color: #efddae;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 100vh;
  color: rgb(245, 203, 148);
  
}

.page-title {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: #bf5321;
  margin: 15px 0 15px 0;
}

.people-container {
    background: #efddae;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .our-team {
    padding: 15px 10px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    border: 0.5px solid #bf5321;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 50%;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .our-team .pic {
    display: inline-block;
    width:50%;
    height: 45;
    background: #fff;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .pic {
    background: #f5dd9d;
    border-radius: 50%;
  }
  .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .our-team .title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #bf5321;
    margin: 0 0 7px 0;
  }
  .our-team .post {
    display: block;
    font-size: 1rem;
    color: #bf5321;
    margin-bottom: 1rem;
  }
  .our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .our-team .social li {
    display: inline-block;
    margin-right: 5px;
  }
  .our-team .social li a {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #f5dd9d;
    border: 1px solid #f5dd9d;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .social li a {
    background: #f5dd9d;
    color: #fff;
  }
  
  .social li a:hover {
    background-color: #bf5321 !important;
    border: none;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 992px) {
    .our-team {
      margin-bottom: 2rem;
    }
  }
  